# Binaries
/bin/
*.exe

# Environment
.envrc
configs/config_development.toml
configs/config_staging.toml
configs/config_production.toml

# IDE
.idea/
.vscode/
.claude/
docs/

# Test
coverage.out
coverage.html

# Go
vendor/

# Mise private config
mise.local.toml
