# Binaries
/bin/
*.exe

# Environment
.envrc
config_default.toml
config_staging.toml
config_production.toml

# Generated
internal/infra/api/gen/

# IDE
.idea/
.vscode/
.claude/
docs/

# Test
coverage.out

# Go
vendor/
