# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: golangci-lint-config-verify
        name: golangci-lint-config-verify
        description: Verifies the configuration file
        entry: golangci-lint config verify
        files: '\.golangci\.(?:yml|yaml|toml|json)'
        language: golang
        pass_filenames: false

      - id: golangci-lint-full
        name: golangci-lint-full
        description: Fast linters runner for Go. Runs on all files in the repo. Use this hook if you use pre-commit in CI.
        entry: golangci-lint run --fix
        types: [go]
        language: golang
        require_serial: true
        pass_filenames: false

      - id: buf-lint
        name: buf lint
        entry: bash -c 'cd internal/infra/api && buf lint'
        language: system
        pass_filenames: false

      - id: buf-generate
        name: buf generate
        entry: bash -c 'cd internal/infra/api && buf generate'
        language: system
        files: '\.proto$'
        pass_filenames: false
