# .pre-commit-config.yaml
repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.61.0
    hooks:
      - id: golangci-lint
        args: [--fix]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: buf-lint
        name: buf lint
        entry: bash -c 'cd internal/infra/api && buf lint'
        language: system
        files: '\.proto$'
        pass_filenames: false

      - id: buf-generate
        name: buf generate
        entry: bash -c 'cd internal/infra/api && buf generate'
        language: system
        files: '\.proto$'
        pass_filenames: false
