## Configuration file for staging environment (APP_ENV.
## Override default the values of config_default.toml
## This file is used for staging purposes only.
## It should not be committed to version control.

[platform.server]
port = 4225

[platform.database]
url = "postgres://user:pass@cleanstack-db-staging:5432/cleanstack_staging?sslmode=require"

[platform.log]
level = "info"
