## Configuration file for production environment (APP_ENV.
## Override default the values of config_default.toml
## This file is used for production purposes only.
## It should not be committed to version control.

[platform.database]
url = "postgres://user:pass@cleanstack-db-production:5432/cleanstack_production?sslmode=require"

[platform.log]
level = "warn"
